<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name=""viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cisco Lifecycle Checker</title>
    </head>
    <body>
        <h1>Cisco Lifecycle Checker</h1>

        <form method="POST" action="/check">
            <label for="pid">Cisco PID</label>
            <input name="pid" placeholder="Enter PID" required />
            <label for="version">Installed version</label>
            <input name="version" placeholder="Installed version (optional)" />

            <button type="submit">Check</button>
        </form>
    </body>
</html>
